* {
    font-family: sans-serif;
}

body {
    background-color: rgb(218, 161, 192);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    color: rgb(46, 31, 22);

    width: 95vw;
    height: 100vh;
    max-width: 600px;
    max-height: 600px;
    
    border-radius: 16px;
    padding: 16px;
}